@import 'color.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */

  /* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
  ::-webkit-scrollbar {
    display: none;
  }
}
.page {
  width: 1100px;
  height: 100%;
}
